* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
} 

body {
	background-image: linear-gradient(to top, #fcc5e4 0%, /* #fda34b 15%, #ff7882 35%, */ #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
	/* background: linear-gradient(
		90deg,
		rgba(48, 16, 255, 1) 0%,
		rgba(100, 115, 255, 1) 100% 		
	); */
}

.todo-view {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.todo-app {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 520px;
	min-height: 600px;
	height: auto;
	/* background: #a8a8b42c; */
	background: linear-gradient(
		90deg,
		rgba(206, 206, 216, 0.514) 0%,
		rgba(209, 211, 223, 0.192) 100%
	);
	text-align: center;
	margin: 128px auto;
	border-radius: 10px;
	padding-bottom: 32px;
} 

h1 {
	margin: 32px 0;
	color: #fff;
	font-size: 24px;
}
  
.complete {
	text-decoration: line-through;
	opacity: 0.4;
}
  
.todo-form {
	margin-bottom: 32px;
}
  
.todo-input {
	padding: 14px 32px 14px 16px;
	border-radius: 4px 0 0 4px;
	/* border: 2px solid #a089cf; */
	border: 2px solid #652bda;
	outline: none;
	width: 320px;
	background: transparent;
	color: #fff;
}

.edit {
	border: 2px solid #304dcc;
}

.todo-input::placeholder {
	color: #e2e2e2;
}
  
.todo-button {
	padding: 16px;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	outline: none;
	/* background: #4c1ea7; */
	background: linear-gradient(
			90deg,
			rgba(93, 12, 255, 1) 0%,
			rgba(155, 0, 250, 1) 100%
	);
	color: #fff;
	text-transform: capitalize;
	/* 	background: linear-gradient(to top, #c8699e 52%, #8869b4 81%);*/	
	
}
  
.todo-input.edit {
	border: 2px solid #4da2df;	
}
  
.todo-button.edit {
	background: linear-gradient(
		90deg,
		rgb(107, 166, 207) 0%,
		rgb(57, 107, 173) 100%
	);
	padding: 16px 22px;
}
  
.todo-container {
	display: flex;
	flex-direction: row;
	position: relative;
	
}
  
.todo-row {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4px auto;
	color: #fff;
	background: linear-gradient(
		90deg,
		rgb(223, 135, 73) 0%,
		rgb(219, 99, 52) 100%
	
	);  
	padding: 16px;
	border-radius: 5px;
	width: 80%;
}

.todo-note {
	width: auto;
	display: flex;
	height: auto;
	margin-right: 5px;
}
  
.todo-row:nth-child(4n + 1) {
	background: linear-gradient(
		90deg,
		rgba(93, 12, 255, 1) 0%,
		rgba(155, 0, 250, 1) 100%
	);
}
  
.todo-row:nth-child(4n + 2) {
	background: linear-gradient(
		90deg,
		rgb(199, 81, 193) 0%,
		rgb(247, 77, 168) 100%
	);
}
  
.todo-row:nth-child(4n + 3) {
	background: linear-gradient(
		90deg,
		rgba(20, 159, 255, 1) 0%,
		rgba(17, 122, 255, 1) 100%
	);
}
  
.icons {
	display: flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
}
  
.delete-icon {
	margin-right: 5px;
	color: #fff;
}

.delete-icon:hover {
	color: rgb(17, 17, 17);
}
  
.edit-icon {
	color: #fff;
}

.edit-icon:hover {
	color: rgb(17, 17, 17);
}